body{
    background-color: blue;
}
.titel{
    border: 10px solid white;
    border-radius: 4px 4px 4px 4px;
    padding-top: 200px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-family: verdana;
    background: url("https://i.imgflip.com/4ufpgo.png");
    background-size: 100% 100%;
    margin-right: 10%;
    margin-left: 10%;
}
ul li {
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    background-color: darkgoldenrod;
    font-family: Verdana;
    font-size: 25px;
    display: inline-flex;
    align-content: center;
    padding: 5px;
}
#main {
    text-align: center;
}
#madeby {
    background-color: darkgoldenrod;
    text-align: center;
    margin-top: 20px;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: verdana;
    border-radius: 10px;
}
#page{
    font-family: verdana;
    color: white;
    font-size: 30px;
    text-align: center;
}